* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #5a5c69;
}

.container{
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    width: 50%;
}

.container2 img{
    align-items: center;
}

.container3{
    width: 50%;
    height: 400px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.container3 input{
    padding: 20px;
    width: 350px;
    border-radius: 5px;
    margin-top: 8px;
}

form{
    border: 1px solid rgb(218, 217, 217);
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 3px black;
}